<div class="modal-overlay confirm-modal" id="modal-confirm">
    <div class="modal">
        <div class="modal-body">
            <div class="confirm-icon">
                <i id="confirm-icon-i" class="ph-fill ph-question"></i>
            </div>
            <h3 class="confirm-title" id="confirm-title">Confirmar Ação</h3>
            <p class="confirm-message" id="confirm-message">Você tem certeza que deseja realizar esta ação?</p>
            <div class="confirm-actions">
                <button id="btn-confirm-cancel" class="secondary-btn">Cancelar</button>
                <button id="btn-confirm-ok" class="primary-btn">Confirmar</button>
            </div>
        </div>
    </div>
</div>
